.stm_testimonials_wrapper_style_9 .testimonials_image img{
    width: auto;
}

.stm_testimonials_wrapper_style_9 .owl-item{
    transition: transform 0.3s ease-in 0s;
}

.stm_testimonials_wrapper_style_9 .owl-item:not(.active){
    opacity: .4;
    z-index: 0;
    cursor: pointer;
    transform: scale(.8);
}

.stm_testimonials_wrapper_style_9 .owl-item.prev-item,
.stm_testimonials_wrapper_style_9 .owl-item.next-item{
    opacity: .4;
    z-index: 0;
    cursor: pointer;
}

.stm_testimonials_wrapper_style_9 .owl-item.prev-item{
    transform: translatex(40%) scale(.8);
}

/*.stm_testimonials_wrapper_style_9 .owl-item.pre-prev-item{*/
/*    transform: translatex(-40%) scale(.8);*/
/*}*/

/*.stm_testimonials_wrapper_style_9 .owl-item.pre-next-item{*/
/*    transform: translatex(40%) scale(.8);*/
/*}*/

.stm_testimonials_wrapper_style_9 .owl-item.next-item{
    transform: translatex(-40%) scale(.8);
}

.stm_testimonials_wrapper_style_9 .owl-item.center.active{
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.testimonials-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in;
    cursor: pointer;
}

.testimonials-play svg{
    width: 90px;
    height: 90px;
}

.stm_testimonials_wrapper_style_9 .owl-item.center.active:hover .testimonials-play{
    opacity: 1;
    visibility: visible;
}

#review-video-modal .modal-dialog {
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
}

#review-video-modal .modal-dialog iframe{
    width: 100%;
}

#review-video-modal .modal-body {
    position:relative;
    padding:0;
}
#review-video-modal .close {
    position:absolute;
    right:-30px;
    top:-40px;
    z-index:999;
    font-size:2.5rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
    background: none;
    border: none;
}

#review-video-modal .modal-content{
    background: none;
    box-shadow: none !important;
    overflow: unset;
}

$swiper-image-ratio: 33.3%;
$swiper-width: 50%;
$swiper-inactive-scale: 0.85;
$swiper-mobile-width: 90%;
$swiper-mobile-inactive-scale: .95;

.ameen_main-page-carousel{
    //:root {
    //    --swiper-image-ratio: 33.3%; /* ratio 16:9 = 56.25% */
    //
    //    --swiper-width: 50%;
    //    --swiper-inactive-scale: .85; /* makes the other slide smaller */
    //
    //    /* responsive settings */
    //    --swiper-mobile-width: 90%;
    //    --swiper-mobile-inactive-scale: .95;
    //}

    .swiper-container {
        position: relative;
        width: 100%;
        //height: calc($swiper-width * $swiper-image-ratio / 100%);
        //overflow: unset;
        padding-bottom: 90px !important;

        &.elementor-main-swiper {
            height: 468px;

            .swiper-wrapper{
                align-items: center;
            }
        }
    }

    .swiper-slide {
        position: relative;
        width: $swiper-width;
        opacity: .5;
        //transform: scale(.84);
        transition: all .3s ease-in-out;
        overflow: hidden;
        border-radius: 0.4285rem;

        &-active{
            transform: translatex(0%) scale(1.72);
            opacity: 1;
            z-index: 1;
        }
        &-prev{
            transform: translatex(10%) scale(1.2);
        }
        &-next{
            transform: translatex(-10%) scale(1.2);
        }
        &-prev, &-next{
            height: 254px;
            >[data-elementor-open-lightbox="yes"]{
                pointer-events: none;
            }

            .elementor-custom-embed-play{
                display: none;
            }
        }

        .elementor-carousel-image{
            background-size: contain;

            .elementor-custom-embed-play{
                .eicon-play{
                    width: 42px;
                    height: 37px;
                    background: url('/wp-content/themes/masterstudy-child/assets/icons/main-page/play-button.svg') 100%/contain no-repeat;
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }

    .swiper-image {
        position: relative;
        width: 100%;
        padding-top: $swiper-image-ratio;
    }

    .swiper-image .image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: #929ec9;
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 8px;
        width: 12px;
        height: 12px;
        margin-top: 0;
        background-color: rgba(0, 0, 0, .4);
        border-radius: 50%;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        color: #fff;
        font-size: 12px;
    }

    .swiper-button-next {
        transform: translate(50%, -50%);
        right: calc((100% - $swiper-width) / 2);
    }

    .swiper-button-prev {
        transform: translate(-50%, -50%);
        left: calc((100% - $swiper-width) / 2);
    }

    .swiper-pagination-bullet{
        border: 2px solid rgba(151, 153, 157, 1);
        &-active{
            border-width: 4px;
            border-color: #323D66;
            width: 28px !important;
            height: 28px !important;
        }
    }

    .swiper-pagination-bullets{
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 768px) {
        //.swiper-container {
        //    height: calc($swiper-mobile-width * $swiper-image-ratio / 100%);
        //}

        .swiper-slide {
            width: $swiper-mobile-width;
            transform: scale($swiper-mobile-inactive-scale);
        }

        .swiper-backface-hidden .swiper-slide.swiper-slide {
            transform: scale($swiper-mobile-inactive-scale) translateZ(0);
        }

        .swiper-button-next {
            right: calc((100% - $swiper-mobile-width) / 2);
        }

        .swiper-button-prev {
            left: calc((100% - $swiper-mobile-width) / 2);
        }
    }
}