.stm-lms-course__sidebar {
    &--old {
        &-price {
            color: #707070;
            font-size: 14px;
            letter-spacing: .2px;
        }
    }

    &--price {
        margin: 8px 0 0;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: .2px;

        small {
            font-size: 12px;
            font-weight: 400;
            color: rgb(151, 153, 157);
        }
    }

    &--percent {
        padding: 4px;
        background: #FF3253;
        color: #fff;
        font-size: 12px;
        letter-spacing: 0.2px;
        font-weight: 400;
        border-radius: 4px;
        vertical-align: top;
        margin-left: 10px;
    }
}